* {
  /* remove all default browser margins and padding */
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.mainflex {
  display: flex;
  flex-direction: row;
}

.rspace, .lspace {
  flex: 1;
}

/**/

.centered {
  text-align: center;
}

/* Main central content block */

.maincontent {
  margin: 20px;
  flex: 4;
  background: #ccd;
  border-radius: 3px;
  box-shadow: 1px 2px 2px grey;
}

.textblock {
  margin: 20px;
}

.maincontent .textblock h3,h4,h5,h6 {
  color: #212126;
}

.maincontent .textblock, p {
  color: #424250;
}

.maincontent .textblock * {
  margin-bottom: 20px;
}

.lspace .textblock * {
  margin-bottom: 10px;
}

/* Panels */

.panel {
  background: white;
  padding: 20px 20px 0px 20px;
  margin: 20px;

  display: flex;
  flex-direction: column;

  border-radius: 3px;

  width: 200px;
  height: 160px;

  text-decoration: none;

  overflow: hidden;

  border-bottom: 20px solid #DDDDFF;
}

.panel .paneltop {
  margin-bottom: 20px;
}

.panel h4 {
  color: #212126;
}

.panel p {
  color: #424250;
  font-size: 15px;
}

.panel:hover {
  background: #9696AD;
  border-bottom: 20px solid #78788E;
}

.panel:hover h4 {
  color: white;
}

.panel:hover p {
  color: white;
}

#asteroidpanel:hover {
  background-image: url("graphics/gravsteroids2.png");
  background-position: center;
}

#placeholderpanel:hover {
  background-image: url("graphics/placeholder.png");
  background-position: center;
}

/* Left space: sidebar */

.lspace {
  background: black;
  display: flex;
  flex-direction: column;
}

.lspace a {
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: grey;
}

.lspace a:hover {
  background-color: #212126;
  color: white;
}

.lspace .textblock h3 {
  color: #d2d2e8;
}

.lspace h4 {
  color: #8C8C9E;
}

.lspace p {
  color: #646472;
  font-size: 13px;
}

.lspace .sidebutton {
  border-top: 1px solid #212126;
  border-bottom: 1px solid #212126;
  margin-top: -1px;
}
